<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">Image Share</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="home">Home</a></li>
      <li><a href="images/gallery">Gallery</a></li>
    </ul>
    <ul *ngIf="!loggedIn" class="nav navbar-nav navbar-right">
      <li><a (click)="openSignUp()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a (click)="openSignIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="loggedIn" class="nav navbar-nav navbar-right">
      <li>
        <a data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        Profile
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="profile">Account</a></li>
          <li><a href="favorites">Favorites</a></li>
          <li><a href="myimages">My Images</a></li>
          <li><a (click)="openUploadDialogue()">Upload</a>
          <li><a href="home"(click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
