<div class="container">

  <div class="row">
    <div class="col">
      <h2>Home Page</h2>
    </div>
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis vulputate metus. Ut at pellentesque tortor, eget tincidunt turpis. Cras non commodo tellus. In sagittis at nulla nec ultricies. Nunc vestibulum vestibulum sollicitudin. Praesent eleifend bibendum tellus quis aliquet. Aenean tincidunt, mi auctor suscipit consequat, ligula nunc euismod purus, a blandit lectus ipsum id massa. In eget lacus in massa scelerisque hendrerit a vel lorem. Aenean imperdiet, nunc sed blandit congue, sem felis finibus nulla, eget rutrum nisi nibh sed massa. Curabitur auctor diam nec laoreet convallis.
      </p>
    </div>
    <div class="col">
      <h3>Random Image</h3>
    </div>
    <div class="col">
      <img src="{{BaseURL}}/img/{{path}}" width="500">
    </div>
    <div class="col">
      <button (click)="getNewRandom()" mat-button class="background-primary text-floral-white">Random</button>
    </div>
  </div>

</div>
